/* NavigationBar.js */

#gluten, #lactose, #meat, #vegan, #info {
    display: flex;
    align-items: center;
    padding-bottom: 0;
}

@media (min-width: 768px) {
    #gluten, #lactose, #meat, #vegan, #info {
        flex-direction: column;
    }
}

/* Addingredients.js */

.addIngredients {
    z-index: 1;
    display: flex;
    box-shadow: 5px 5px 10px;
}